<div class="cards">
  <div class="card-border">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url('Image27.jpg') %>">
      <p>Casamentos</p>
    </div>
  </div>

  <div class="card-border">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url('Image25.jpg') %>)">
      <p>15 Anos</p>
    </div>
  </div>

  <div class="card-border">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url('Image24.jpg') %>)">
      <p>Formaturas</p>
    </div>
  </div>

  <div class="card-border">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url('Image30.jpg') %>)">
      <p>Bodas</p>
    </div>
  </div>

  <div class="card-border">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url('Image28.jpg') %>)">
      <p>Corporativos</p>
    </div>
  </div>

  <div class="card-border">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url('Image41.jpg') %>)">
      <p>Outros</p>
    </div>
  </div>
</div>
