<div class="row">
  <div class="column">
    <%= image_tag "Image10.jpg", :height => '200px' %>
    <%= image_tag "Image11.jpg", :height => '250px' %>
    <%= image_tag "Image12.jpg", :height => '200px' %>
  </div>
  <div class="column">
    <%= image_tag "Image13.jpg", :height => '250px' %>
    <%= image_tag "Image14.jpg", :height => '200px' %>
    <%= image_tag "Image15.jpg", :height => '200px' %>
  </div>
  <div class="column">
    <%= image_tag "Image16.jpg", :height => '200px' %>
    <%= image_tag "Image10.jpg", :height => '200px' %>
    <%= image_tag "Image11.jpg", :height => '250px' %>
  </div>
  <div class="column">
    <%= image_tag "Image12.jpg", :height => '200px' %>
    <%= image_tag "Image13.jpg", :height => '250px' %>
    <%= image_tag "Image14.jpg", :height => '200px' %>
  </div>
</div>
