<div class="row">
  <div class="column">
    <%= image_tag "Image10.jpg" %>
    <%= image_tag "Image11.jpg" %>
    <%= image_tag "Image12.jpg" %>
  </div>
  <div class="column">
    <%= image_tag "Image13.jpg" %>
    <%= image_tag "Image14.jpg" %>
    <%= image_tag "Image15.jpg" %>
  </div>
  <div class="column d-none d-md-block">
    <%= image_tag "Image16.jpg" %>
    <%= image_tag "Image10.jpg" %>
    <%= image_tag "Image11.jpg" %>
  </div>
  <div class="column d-none d-lg-block">
    <%= image_tag "Image12.jpg" %>
    <%= image_tag "Image13.jpg" %>
    <%= image_tag "Image14.jpg" %>
  </div>
</div>
