<div class="row">
  <div class="column">
    <%= image_tag "Image23.jpg", class: 'small-product-pic' %>
    <%= image_tag "Image12.jpg", class: 'small-product-pic' %>
    <%= image_tag "Image16.jpg", class: 'large-product-pic' %>
    <%= image_tag "Image22.jpg", class: 'large-product-pic' %>
  </div>
  <div class="column">
    <%= image_tag "Image19.jpg", class: 'large-product-pic' %>
    <%= image_tag "Image21.jpg", class: 'small-product-pic' %>
    <%= image_tag "Image37.jpg", class: 'large-product-pic' %>
    <%= image_tag "Image26.jpg", class: 'small-product-pic' %>
  </div>
  <div class="column d-none d-md-block">
    <%= image_tag "Image17.jpg", class: 'small-product-pic' %>
    <%= image_tag "Image11.jpg", class: 'large-product-pic' %>
    <%= image_tag "Image32.jpg", class: 'large-product-pic' %>
    <%= image_tag "Image34.jpg", class: 'small-product-pic' %>
  </div>
  <div class="column d-none d-lg-block">
    <%= image_tag "Image36.jpg", class: 'large-product-pic' %>
    <%= image_tag "Image18.jpg", class: 'small-product-pic' %>
    <%= image_tag "Image38.jpg", class: 'small-product-pic' %>
    <%= image_tag "Image40.jpg", class: 'large-product-pic' %>
  </div>
</div>
