<div class="row">
  <div class="column">
    <%= image_tag "food1.jpg" %>
    <%= image_tag "food2.jpg" %>
    <%= image_tag "food4.jpg" %>
    <%= image_tag "food3.jpg" %>
  </div>
  <div class="column">
    <%= image_tag "food5.jpg" %>
    <%= image_tag "food6.jpg" %>
    <%= image_tag "food7.jpg" %>
    <%= image_tag "food8.jpg" %>
  </div>
  <div class="column d-none d-md-block">
    <%= image_tag "food9.jpg" %>
    <%= image_tag "food10.jpg" %>
    <%= image_tag "food13.jpg" %>
    <%= image_tag "food15.jpg" %>
  </div>
  <div class="column d-none d-lg-block">
    <%= image_tag "food11.jpg" %>
    <%= image_tag "food14.jpg" %>
    <%= image_tag "food16.jpg" %>
    <%= image_tag "food12.jpg" %>
  </div>
</div>
